@import "tailwindcss";

:root {
  --bg-main: rgba(255, 255, 255, 0.1);
  --bg-button: rgba(255, 255, 255, 0.4);
  --blur-main: blur(15px);
}

[data-theme="dark"] {
  --bg-main: rgba(0, 0, 0, 0.1);
  --bg-button: rgba(0, 0, 0, 0.4);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@layer base {
  body {
    @apply w-screen h-screen overflow-hidden bg-[#242424];
    color: rgba(255, 255, 255, 0.87);
    background: url("https://i.pinimg.com/736x/55/c0/58/55c058004e84ba969cfdb4eb3d4a1267.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #app {
    @apply w-full h-full relative overflow-hidden;
  }
  #loading {
    @apply fixed inset-0 bg-[#141414] flex items-center justify-center font-bold text-xl z-50;
  }
  body.edit .statusBar-container {
    display: flex !important;
  }
  body .statusBar-container {
    display: none !important;
  }

  body #main-grid {
    @apply overflow-hidden w-full h-full relative;
    & .main-grid_container {
      @apply flex h-full relative;
    }
  }

  body.edit .dapp-edit-mode {
    animation: wiggle 0.5s infinite ease-in-out;
  }

  @keyframes wiggle {
    0% {
      transform: translateX(0) rotate(-2deg);
    }
    25% {
      transform: translateX(0) rotate(2deg);
    }
    50% {
      transform: translateX(0) rotate(-2deg);
    }
    75% {
      transform: translateX(0) rotate(2deg);
    }
    100% {
      transform: translateX(0) rotate(-2deg);
    }
  }
}
@layer components {
  .layout-absolute {
    @apply absolute left-0 right-0 flex items-center justify-center z-10;
  }
  .button-status-bar {
    background: var(--bg-button);
    backdrop-filter: var(--blur-main);
    @apply border-none outline-none w-16 h-9 flex
      items-center justify-center rounded-full font-semibold;
  }

  .itemDapp {
    @apply absolute;
    & .itemDapp_container {
      @apply w-full h-full flex flex-col items-center gap-1;
      & .itemDapp_container-logo {
        @apply bg-white rounded-[14px] shadow;
      }
      & .itemDapp_container-name {
        @apply text-white font-medium text-xs line-clamp-1 px-1 w-full flex items-center justify-center;
      }
    }
  }
}
